<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Avisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <!-- Se genega cada card para los próximos partidos-->
    <ion-card>
        <ion-img src="../../../assets/img/jugador/user.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Equipo Nombre</ion-card-title>
        <ion-card-subtitle>Último encuentro:<br> Blabla vs Blabla</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
       <ion-label>Avisos:</ion-label><br>
       <ion-label>Aquí va el aviso</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-content>
