<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calendario de Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Se genega cada card para los próximos partidos-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Categoría</ion-card-title>
      <ion-item>
        <ion-avatar slot="end">
          <img src="../../../assets/img/jugador/user.png">
        </ion-avatar>
          <ion-card-subtitle>Equipo 1</ion-card-subtitle>
      </ion-item>
      <br><ion-label>VS.</ion-label><br>
      <ion-item>
        <ion-avatar slot="end">
          <img src="../../../assets/img/jugador/user.png">
        </ion-avatar>
          <ion-card-subtitle>Equipo 2</ion-card-subtitle>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
     <ion-label>Lugar:</ion-label><br>
     <ion-label>Fecha:</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
